@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

:root {
  --title-color: rgba(6, 23, 50, 1);
  --text-color: rgba(55, 69, 91, 1);
  --blue: rgba(59, 130, 246, 1);
  --border-color: rgba(227, 230, 231, 1);
  --blueish-background: rgba(243, 246, 248, 1);
  --hover-mobile-menu: rgba(239, 243, 249, 1);
  --active-mobile-menu: rgba(41, 45, 50, 1);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Urbanist", "Times New Roman", Times, serif;
}

h1, h2, h3, h4, h5, h6, label {
  color: var(--title-color);
}

p, input {
  color: var(--text-color);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari și Opera */
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* Internet Explorer and Edge */
  scrollbar-width: none;  /* Firefox */
}

.question:hover {
  color: red;
  cursor: pointer;
}
